/* Main color */
$raisin-black: hsla(0, 3%, 14%, 1);
$slate-gray: hsla(221, 11%, 49%, 1);
$isabelline: hsla(30, 29%, 95%, 1);
$bone: hsla(44, 29%, 80%, 1);
$grullo: hsla(33, 17%, 59%, 1);
$grullo-darken: hsla(33, 17%, 39%, 1);

/* Other Color */
$green: hsla(130, 80%, 50%,1);
$red: hsla(343, 100%, 50%,1);
$classic-chalk: hsla(60, 14%, 90%,1);

