/* Font */
.font-xl {
	font-size: 48px;
}

.font-lg {
	font-size: 36px;
}

.font-md {
	font-size: 18px;
}

.font-sm {
	font-size: 16px;
}

.color-raisin-black {
	color: $raisin-black;
}

.color-slate-gray {
	color: $slate-gray;
}

.color-isabelline {
	color: $isabelline;
}

.color-bone {
	color: $bone;
}

.color-grullo {
	color: $grullo;
}

.color-green {
	color: $green;
}

.color-red {
	color: $red;
}

/* Background */
.bg-raisin-black {
	background-color: $raisin-black;
}

.bg-slate-gray {
	background-color: $slate-gray;
}

.bg-isabelline {
	background-color: $isabelline;
}

.bg-bone {
	background-color: $bone;
}

.bg-grullo {
	background-color: $grullo;
}

/* Position */
/* .left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.top-0 {
	top: 0;
}

.bottom-0 {
	bottom: 0;
} */
